// -----------------------------
// משתני צבעים - Sass
// -----------------------------
$color-background-light-red: #fcebeb;
$color-primary-text: #333;
$color-primary-button: #ccc;
$color-secondary-button: #7b1fa2;
$color-error: red;
$font-hebrew: 'Noto Sans Hebrew', sans-serif;

// -----------------------------
// כרטיס התחברות
// -----------------------------
mat-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: $color-background-light-red;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

// כותרת הכרטיס
mat-card-title {
  color: $color-primary-text;
  font-weight: 700;
  font-size: 1.5em;
  margin: 30px;
}

// שדות קלט
mat-form-field {
  direction: rtl;
  width: 100%;
  margin-bottom: 15px;

  .mat-mdc-form-field-label {
    font-weight: 400;
    text-align: right;
    direction: rtl;
  }

  input {
    font-weight: 400;
    text-align: left !important;
  }
}


// הודעות שגיאה
mat-error {
  color: $color-error;
  font-size: 0.85em;
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  display: block;
  direction: rtl;
}

// כפתורים כלליים
button {
  margin: 10px 5px;
  padding: 8px 20px;
  font-size: 1em;
}

// כפתור התחברות
button[type="submit"] {
  background-color: $color-primary-button;
  color: $color-primary-text;
  border-radius: 5px;
}

// כפתור הרשמה
button[type="button"] {
  color: $color-secondary-button;
  background-color: transparent;
}

// הודעת שגיאה כללית
.login-error {
  color: $color-error;
  margin-top: 15px;
  font-size: 0.9em;
}
