$font-hebrew: 'Noto Sans Hebrew', sans-serif;

mat-card-title {
  font-weight: 700;
  font-size: 1.5em;
  margin: 30px;
  text-align: center;

}

.form-container {
  max-width: 850px;
  margin: 2rem auto;
  display: block;
  padding: 1rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.section-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 2rem 0 0.5rem;
}


// שדות קלט
mat-form-field {
  direction: rtl;
  width: 100%;
  margin-bottom: 15px;

  .mat-mdc-form-field-label {
    font-weight: 400;
    text-align: right;
    direction: rtl;
  }

  input {
    font-weight: 400;
  }
}



.ins {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 30px 15px 10px 0;
}

.add-icon-button {
  margin-left: 8px; // רווח מהמסגרת
  color: rgb(156, 29, 71);
}


.add-icon-button :hover {
  color: #383536; // צבע אחר כשריחוף (למשל ורוד, אפשר לשנות)
}
